.post {
    position: relative;
    display: block;
    background-color: #f4f7fb;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.post::after {
    content: "";
    border-radius: 0.5rem;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.post-title {
    font: 500 1.25rem/2rem 'ALS Hauss',Arial,sans-serif;
    margin: 0;
    padding: 2rem;
    position: relative;
    text-align: center;
}
.post-title:after {
    font-size: 54px;
    color: #0d6efd;
    position: absolute;
    height: 2px;
    left: 20px;
    right: 20px;
    line-height: .5;
    background: linear-gradient(to right, #0d6efd 45%, transparent 45%, transparent), linear-gradient(to right, transparent, transparent 55%, #0d6efd 55%);
    font-family: serif;
}
.post-title:after {
    content: "\201C";
    top: 5rem;
}

.post-text {
    margin: 0;
    padding: 2rem;
    position: relative;
    text-align: left;
}
.post-date {
    position: relative;
    padding: 1rem 2rem;
}

